@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    padding-top: 100px;
    width: 130px;
    margin: auto;
    display: block;
}

.imagembanners img {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0%;
}

.imagembanners {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.botaocarrosel {
    right: 30px;
    position: absolute;
    cursor: pointer;
}

.botaocarroselesquerdo {
    left: 30px;
    position: absolute;
    cursor: pointer;
}
*/
main {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 30px;
    border: solid 2px white;
    width: 30rem;
    color: white;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 0, 0);
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.button01{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    left: 40px;
    position: absolute;
    cursor: pointer;
}

.button01:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    padding: 10px 15px;
    border-radius: 10px;
    outline: solid 2px white;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    left: 40px;
    position: absolute;
    cursor: pointer;
}
button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

button:hover {
    background-color: rgb(255, 0, 0);
    outline: solid 2px white;
    color: white;
    box-shadow: none;
}

input[type="text"] {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: none;
    width: 17rem;
    padding: 10px;
}

input[type="text"]::placeholder {
    color: rgb(255, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

input[type="text"]:hover::placeholder {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

input[type="text"]:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
    box-shadow: none;
}

input:hover {
    background-color: rgb(255, 0, 0);
    outline: solid 2px white;
    box-shadow: none;
}

ul {
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 23px;
}
